ljakopov_aplikacija_2-war/web/WEB-INF/wsdl/localhost_8084/ljakopov_aplikacija_1/MeteoServiceWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://serveri.ws.ljakopov.nwtis.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://serveri.ws.ljakopov.nwtis.foi.org/">

<xs:element name="dajAdresuNaTemeljuLatLon" type="tns:dajAdresuNaTemeljuLatLon"/>

<xs:element name="dajAdresuNaTemeljuLatLonResponse" type="tns:dajAdresuNaTemeljuLatLonResponse"/>

<xs:element name="dajMeteoPodatkeZaUredjaj" type="tns:dajMeteoPodatkeZaUredjaj"/>

<xs:element name="dajMeteoPodatkeZaUredjajOdDoDatum" type="tns:dajMeteoPodatkeZaUredjajOdDoDatum"/>

<xs:element name="dajMeteoPodatkeZaUredjajOdDoDatumResponse" type="tns:dajMeteoPodatkeZaUredjajOdDoDatumResponse"/>

<xs:element name="dajMeteoPodatkeZaUredjajResponse" type="tns:dajMeteoPodatkeZaUredjajResponse"/>

<xs:element name="dajPosljednihNMeteoPodatakaZaUredjaj" type="tns:dajPosljednihNMeteoPodatakaZaUredjaj"/>

<xs:element name="dajPosljednihNMeteoPodatakaZaUredjajResponse" type="tns:dajPosljednihNMeteoPodatakaZaUredjajResponse"/>

<xs:element name="dajZadnjiMeteoPodatakZaUredjaj" type="tns:dajZadnjiMeteoPodatakZaUredjaj"/>

<xs:element name="dajZadnjiMeteoPodatakZaUredjajResponse" type="tns:dajZadnjiMeteoPodatakZaUredjajResponse"/>

<xs:complexType name="dajMeteoPodatkeZaUredjajOdDoDatum">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="from" type="xs:long"/>
<xs:element name="to" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeZaUredjajOdDoDatumResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeZaUredjaj">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajMeteoPodatkeZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjiMeteoPodatakZaUredjaj">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajZadnjiMeteoPodatakZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajPosljednihNMeteoPodatakaZaUredjaj">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="n" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajPosljednihNMeteoPodatakaZaUredjajResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuNaTemeljuLatLon">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="lat" type="xs:string" minOccurs="0"/>
<xs:element name="lon" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dajAdresuNaTemeljuLatLonResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>