ljakopov_aplikacija_2-war/web/WEB-INF/wsdl/localhost_8084/ljakopov_aplikacija_1/MeteoServiceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.ljakopov.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.ljakopov.nwtis.foi.org/" name="MeteoServiceWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.ljakopov.nwtis.foi.org/" schemaLocation="http://localhost:8084/ljakopov_aplikacija_1/MeteoServiceWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajZadnjiMeteoPodatakZaUredjaj">
<part name="parameters" element="tns:dajZadnjiMeteoPodatakZaUredjaj"/>
</message>
<message name="dajZadnjiMeteoPodatakZaUredjajResponse">
<part name="parameters" element="tns:dajZadnjiMeteoPodatakZaUredjajResponse"/>
</message>
<message name="dajMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajMeteoPodatkeZaUredjaj"/>
</message>
<message name="dajMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaUredjajResponse"/>
</message>
<message name="dajAdresuNaTemeljuLatLon">
<part name="parameters" element="tns:dajAdresuNaTemeljuLatLon"/>
</message>
<message name="dajAdresuNaTemeljuLatLonResponse">
<part name="parameters" element="tns:dajAdresuNaTemeljuLatLonResponse"/>
</message>
<message name="dajPosljednihNMeteoPodatakaZaUredjaj">
<part name="parameters" element="tns:dajPosljednihNMeteoPodatakaZaUredjaj"/>
</message>
<message name="dajPosljednihNMeteoPodatakaZaUredjajResponse">
<part name="parameters" element="tns:dajPosljednihNMeteoPodatakaZaUredjajResponse"/>
</message>
<message name="dajMeteoPodatkeZaUredjajOdDoDatum">
<part name="parameters" element="tns:dajMeteoPodatkeZaUredjajOdDoDatum"/>
</message>
<message name="dajMeteoPodatkeZaUredjajOdDoDatumResponse">
<part name="parameters" element="tns:dajMeteoPodatkeZaUredjajOdDoDatumResponse"/>
</message>
<portType name="MeteoServiceWS">
<operation name="dajZadnjiMeteoPodatakZaUredjaj">
<input wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajZadnjiMeteoPodatakZaUredjajRequest" message="tns:dajZadnjiMeteoPodatakZaUredjaj"/>
<output wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajZadnjiMeteoPodatakZaUredjajResponse" message="tns:dajZadnjiMeteoPodatakZaUredjajResponse"/>
</operation>
<operation name="dajMeteoPodatkeZaUredjaj">
<input wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajMeteoPodatkeZaUredjajRequest" message="tns:dajMeteoPodatkeZaUredjaj"/>
<output wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajMeteoPodatkeZaUredjajResponse" message="tns:dajMeteoPodatkeZaUredjajResponse"/>
</operation>
<operation name="dajAdresuNaTemeljuLatLon">
<input wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajAdresuNaTemeljuLatLonRequest" message="tns:dajAdresuNaTemeljuLatLon"/>
<output wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajAdresuNaTemeljuLatLonResponse" message="tns:dajAdresuNaTemeljuLatLonResponse"/>
</operation>
<operation name="dajPosljednihNMeteoPodatakaZaUredjaj">
<input wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajPosljednihNMeteoPodatakaZaUredjajRequest" message="tns:dajPosljednihNMeteoPodatakaZaUredjaj"/>
<output wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajPosljednihNMeteoPodatakaZaUredjajResponse" message="tns:dajPosljednihNMeteoPodatakaZaUredjajResponse"/>
</operation>
<operation name="dajMeteoPodatkeZaUredjajOdDoDatum">
<input wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajMeteoPodatkeZaUredjajOdDoDatumRequest" message="tns:dajMeteoPodatkeZaUredjajOdDoDatum"/>
<output wsam:Action="http://serveri.ws.ljakopov.nwtis.foi.org/MeteoServiceWS/dajMeteoPodatkeZaUredjajOdDoDatumResponse" message="tns:dajMeteoPodatkeZaUredjajOdDoDatumResponse"/>
</operation>
</portType>
<binding name="MeteoServiceWSPortBinding" type="tns:MeteoServiceWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajZadnjiMeteoPodatakZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAdresuNaTemeljuLatLon">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajPosljednihNMeteoPodatakaZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMeteoPodatkeZaUredjajOdDoDatum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MeteoServiceWS">
<port name="MeteoServiceWSPort" binding="tns:MeteoServiceWSPortBinding">
<soap:address location="http://localhost:8084/ljakopov_aplikacija_1/MeteoServiceWS"/>
</port>
</service>
</definitions>